@import "../dist/webkit-sassui-icon-close.scss";
.test-webkit-sassui-icon-close{
  border:1px solid red;
  width: 320px;
  margin: 20px auto;
  text-align: center;
  h1,
  h3{
    font-size: 14px;
  }
}
