/*webkit-sassui-icon-close Start*/
$webkit-sassui-icon-close-options: (
  font-size: 10px,
  size: 5em
) !default;

.webkit-sassui-icon-close {
  $font-size: map-get(
    $map: $webkit-sassui-icon-close-options,
    $key: font-size
  );
  $size: map-get(
    $map: $webkit-sassui-icon-close-options,
    $key: size
  );

  position: relative;
  display: inline-block;
  font-size: $font-size;
  color: #000;
  width: $size;
  height: $size;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    border-top: 0.1em solid;
  }
  &:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &[data-type="hairline"] {
    &:before,
    &:after {
      border-width: 0.1em;
    }
  }
  &[data-type="thin"] {
    &:before,
    &:after {
      border-width: 0.2em;
    }
  }
  &[data-type="heavy"] {
    &:before,
    &:after {
      border-width: 0.4em;
    }
  }
}

/*webkit-sassui-icon-close End*/
